* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.borda {
    background-color: rgba(0, 255, 255, 0.658);
    height: 45rem;
    width: 70rem;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 1;
}

.esquerdo {
    background-color: #f0f0f0;
    height: 100%;
    width: 35%;
    border-right: 1px solid black;
    border-radius: 10px 0 0 10px;
    z-index: 2;
}

.titulo {
    font-size: 1.3rem;
    text-align: center;
}

.titulo .nem {
    padding-top: 1rem;
}

.titulo .nem2 {
    font-size: 4rem;
    padding-top: 10rem;
}

.linha {
    width: 100px;
    border-top: 5px solid black;
    margin-left: 3rem;
}

.botaoEsquerda {
    background-color: white;
    height: 70px;
    width: 250px;
    margin-top: 6rem;
    border-radius: 40px;
    border: none;
}

.botaoEsquerda:hover {
    background-color: #b1b1b1;
    transition: calc(0.4s);
}

.gmail {
    height: 40px;
    width: 40px;
    margin-left: 6rem;
    border-radius: 100px;
    border: 1px solid black;
    margin-top: 20px;
}

.gmail:hover {
    background-color: #b1b1b1;
    transition: calc(0.4s);
}

.esquerdo .facebook {
    height: 40px;
    width: 40px;
    margin-left:12rem;
    border-radius: 100px;
    border: 1px solid black;
}

.facebook:hover {
    background-color: #b1b1b1;
    transition: calc(0.4s);
}

.zap {
    height: 40px;
    width: 40px;
    margin-left: 9rem;
    border-radius: 100px;
    border: 1px solid black;
}

.zap:hover {
    background-color: #b1b1b1;
    transition: calc(0.4s);
}

img {
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-left: 0.75px;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 50px;
    margin-top: 1rem;
}

.circulo1 {
    background: linear-gradient(to top, rgb(255, 251, 0), rgb(255, 123, 0));
    border-radius: 300px;
    width: 500px;
    height: 500px;
    display: flex;
    position: absolute;
    left: 80px;
    bottom: 50px;
}

.circulo2 {
    background: linear-gradient(to top, rgb(132, 0, 165), rgb(225, 0, 255));
    border-radius: 300px;
    width: 250px;
    height: 250px;
    display: flex;
    position: absolute;
    left: 700px;
    bottom: 600px;
}

.circulo3 {
    background: linear-gradient(to bottom, rgb(0, 255, 255), rgb(38, 101, 117));
    border-radius: 300px;
    width: 150px;
    height: 150px;
    display: flex;
    position: absolute;
    left: 850px;
    bottom: 200px;
}

.circulo4 {
    background: linear-gradient(to bottom, rgb(255, 0, 128), rgb(255, 27, 152));
    border-radius: 300px;
    width: 450px;
    height: 450px;
    display: flex;
    position: absolute;
    left: 1200px;
    bottom: 200px;
}



